/* CSS by Jan Andreassen
| 1071790 | Mmda0918
 */
@font-face {
  font-family: 'alianza_slab_300300';
  src: url('assets/fonts/alianza_slab_300-webfont.woff2') format('woff2'),
    url('/assets/fonts/alianza_slab_300-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  /* background-color: blue; */
  margin: 0;
  padding: 0;
  font-family: 'alianza_slab_300300', Verdana, Geneva, "DejaVu Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* .fas {
  margin: 0 5px 0 0;
} */
/* nav {
  z-index: 99;
} */
.hero {
  /* background-color: rgba(3, 226, 227, 0.79); */
  justify-content: center;
  z-index: -2;
}

.hero h1 {
  /* color: #e28e04; */
  color: #ffffff;
  font-family: "AlianzaSlab300300", Verdana, Geneva, "DejaVu Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
  position: absolute;
  left: 50%;
  top: 25%;
  /* transform: translate(-50%, -25%); */
  /* transform: translateX(-50%); */
  /* z-index: -99; */
}

.mySlides {
  width: 100%;
  height: auto;
}

.row {
  /* height: 200px;
  width: 100%; */
  /* margin-top: 2vh; */
}

.content-jul {
  background-color: #cdcdcd;
  /* height: 200px; */
  max-width: 40%;
}
.images-jul{
  float: right;
  margin: 0.4rem;
}
.images-jul img {
  max-width: 20%;
  height: auto;
  }

.content-mamba {
  background-color: #bdbdbd;
}

.images-mamba {}

.content-azcf {
  background-color: #888888;
  color: white;
}

.images-azcf {}

/*--- NAVIGATION ---*/
/*This navigation is made by: https://github.com/academind and modified by: Jan Andreassen*/
/*hamburger icon*/
.hamburger {
  display: flex;
  align-items: center;
}

.hamburger__button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
}

.hamburger__button:focus {
  outline: none;
}

.hamburger__button-bar {
  width: 100%;
  height: 0.2rem;
  background: #e28e04;
  display: block;
  margin: 0.6rem 0;
}

/*desktop*/
.desktop__navigation {
  display: flex;
  justify-content: flex-end;
}

.desktop__navigation a {
  text-decoration: none;
  /* color: white; */
  color: #e28e04;
}

.desktop__navigation div {
  padding-left: 20px;
  display: none;
  margin-right: 3%;
}

/*Mobile navigation*/
.mobile {
  position: fixed;
  top: 0;
  background: rgba(90, 90, 90, 0.9);
  width: 80vw;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateX(-100vw);
  transition: transform 500ms ease-out;
}

.mobile__items {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

.mobile__items li a {
  text-decoration: none;
  color: white;
}

.open {
  display: flex;
  transform: translateX(0);
}

@media (min-width: 40rem) {
  .hamburger__button {
    display: none;
  }

  .desktop__navigation div {
    display: block;
  }
}

/*--- NAVIGATION END ---*/
/*--- GRID DEFINITION ---*/
.header {
  grid-area: header;
}
.hero {
  grid-area: hero;
}
/* JUL */
.content-jul {
  grid-area: content-jul;
}
.images-jul {
  grid-area: images-jul;
}
/* MAMBA */
.content-mamba {
  grid-area: content-mamba;
}
.images-mamba {
  grid-area: images-mamba;
}
/* AZCF */
.content-azcf {
  grid-area: content-azcf;
}
.images-azcf {
  grid-area: images-azcf;
}
/* HEADER */

.footer {
  grid-area: footer;
}
/*
/*--- GRID AREAS MEDIAQURIES ---*/
/* .wrapper {
  display: grid;
  /* grid-gap: 1em; */
  grid-template-areas: 'header header header header'
    'hero hero hero hero'
    'content-jul content-jul content-jul content-jul'
    'images-jul images-jul images-jul images-jul'
    'images-mamba images-mamba images-mamba images-mamba'
    'content-mamba content-mamba content-mamba content-mamba'
    'footer footer footer footer';
} */

/* @media only screen and (min-width: 768px) {
  .wrapper {
    /* grid-template-columns: 20% auto; */
    grid-template-areas: 'header header header header'
      'hero hero hero hero'
      'content-jul content-jul content-jul content-jul'
      'images-jul images-jul images-jul images-jul'
      'images-mamba images-mamba images-mamba images-mamba'
      'content-mamba content-mamba content-mamba content-mamba'
      'footer footer footer footer';
  }

  .hero h1 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
} */

/* @media only screen and (min-width: 980px) {
  .wrapper {
    /* grid-gap: 20px;
    grid-template-columns: 120px auto 120px; */
    grid-template-areas: "header header header header"
      "hero hero hero hero"
      "content-jul content-jul images-jul images-jul"
      "images-mamba content-mamba content-mamba content-mamba"
      "sidebar content  content sidebar2"
      "footer  footer  footer footer";
  }
}  */

/*--- GRID END ---*/
/*--- TEXTAREA ---*/
h1 {}

h2 {}

h3 {}

p {}

a {
  font-size: 1em;
}
