@font-face {
  font-family: 'alianza_slab_300';
  src: url('assets/fonts/alianza_slab_300-webfont.woff2') format('woff2'),
    url('/assets/fonts/alianza_slab_300-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: blue;
  margin: 0;
  padding: 0;
}

/* nav {
  z-index: 99;
} */
.hero {
  background-color: rgba(3, 226, 227, 0.79);
  justify-content: center;
  z-index: -2;
}

.hero h1 {
  /* color: #e28e04; */
  color: #ffffff;
  font-family: "AlianzaSlab300", Verdana, Geneva, "DejaVu Sans", sans-serif;
  /* position: absolute; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  /* z-index: -99; */
}

.mySlides {
  /* margin-top: -60px; */
  /* padding-top: 0; */
  /* z-index: -99; */
  width: 100%;
  height: auto;
}

/*--- NAVIGATION ---*/
/*This navigation is made by: https://github.com/academind and modified by: Jan Andreassen*/
/*hamburger icon*/
.hamburger {
  display: flex;
  align-items: center;
}

.hamburger__button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
}

.hamburger__button:focus {
  outline: none;
}

.hamburger__button-bar {
  width: 100%;
  height: 0.2rem;
  background: white;
  display: block;
  margin: 0.6rem 0;
}

/*desktop*/
.desktop__navigation {
  display: flex;
  justify-content: flex-end;
}

.desktop__navigation a {
  text-decoration: none;
  color: white;
}

.desktop__navigation div {
  padding-left: 20px;
  display: none;
}

/*Mobile navigation*/
.mobile {
  position: fixed;
  top: 0;
  background: rgba(90, 90, 90, 0.9);
  width: 80vw;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: translateX(-100vw);
  transition: transform 500ms ease-out;
}

.mobile__items {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

.mobile__items li a {
  text-decoration: none;
  color: white;
}

.open {
  display: flex;
  transform: translateX(0);
}

@media (min-width: 40rem) {
  .hamburger__button {
    display: none;
  }

  .desktop__navigation div {
    display: block;
  }
}

/*--- NAVIGATION END ---*/
/*--- GRID DEFINITION ---*/
.hero {
  grid-area: hero;
}

/* .content {
  grid-area: sidebar2;
} */
.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

/*--- GRID AREAS MEDIAQURIES ---*/
.wrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-areas: 'header header header header'
    'sidebar sidebar sidebar sidebar'
    "content content content content"
    "sidebar2 sidebar2 sidebar2 sidebar2"
    "footer footer footer footer"
}

@media only screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: 20% auto;
    grid-template-areas: "header header header header"
      "sidebar content  content content"
      "sidebar2 sidebar2 sidebar2 sidebar2"
      "footer footer footer footer";
  }
}

@media only screen and (min-width: 980px) {
  .wrapper {
    grid-gap: 20px;
    grid-template-columns: 120px auto 120px;
    grid-template-areas: "header  header  header header"
      "sidebar content  content sidebar2"
      "footer  footer  footer footer";
  }
}

/*--- GRID END ---*/
/*--- TEXTAREA ---*/
h1 {}

h2 {}

h3 {}

p {}

a {}
